.sidebar-container
	.sidebar-logo
		| Project FLDashboard
	ul.sidebar-navigation
		li.header Navigation
			li
				a(href='dashboard')
					i.fa.fa-home(aria-hidden='true')
						|  Dashboard
			li
				a(href='#')
					i.fa.fa-tachometer(aria-hidden='true')
						|  Clients
			li
				a(href='#')
					i.fa.fa-users(aria-hidden='true')
						|  Learning Tasks
			li
				a(href='#')
					i.fa.fa-cog(aria-hidden='true')
						|  TensorBoard
			li.header Settings
			li
				a(href='#')
					i.fa.fa-info-circle(aria-hidden='true')
						|  Main Settings
